
@()

    <!-- Navbar -->    
    <nav class="navbar navbar-expand-lg navbar-light myHeader" id="nav_position">
        <div class="container">
  
          <div class="navbar-left mr-4">
            <button class="navbar-toggler" type="button">&#9776;</button>
            <a class="apperance" href="@routes.HomeController.index">
             Connected app store              
            </a>
          </div>
  
          <section class="navbar-mobile">
            <span class="navbar-divider d-mobile-none"></span>
  
            <ul class="nav nav-navbar nav-transform-none mr-auto">
  
              <li class="nav-item">
                <a class="nav-link" href="#">All Items <span class="arrow"></span></a>
                <nav class="nav">
                  <a class="nav-link" href="#">Populars</a>
                  <a class="nav-link" href="#">Featured</a>
                  <a class="nav-link" href="#">Top New</a>
                  <a class="nav-link" href="#">Top Authors</a>
                  <a class="nav-link" href="#">Collections</a>
                </nav>
              </li>  
            </ul>
  
            </section>
  
        </div>
      </nav><!-- /.navbar -->

