@(categories : Seq[Category])

@main("Welcome to Play") {
  
   
    <main class="main-content">
  
        
          <div class="container">
            <header class="center">              
              <h2>Application category</h2>
              <hr>              
            </header>
  
  
            <div class="row gap-y">
              <!-- Application category loop -->
              @for(category <- categories){                
              <div class="col-md-6 col-lg-3">                
                <a class="card text-white text-center py-6" id="category-card" href="@routes.HomeController.appList(category.category_name, category.id)">
                  <div class="position-relative">
                    <!-- <p><i class="fa fa-wordpress lead-5 opacity-70"></i></p> -->
                    <h5 class="mb-0">@category.category_name</h5>                    
                  </div>
                </a>
              </div>
            }
            </div>
          </div>
        

      </main>
  
}
